<% layout('/layout/layout') -%>
  <form class="pure-form pure-form-stacked" action="/" method="post">
    <label for="password">Password</label>
    <input id="password" type="password" name="password" class="pure-input-1">
    <button type="submit" class="pure-button pure-button-primary pure-input-1">Guardar</button>
  </form>