<% include header %>
<form class="pure-form pure-form-stacked" action="/crear-usuario" method="post">
  <label for="username">Username</label>
  <!--<input id="username" type="text" name="username" class="pure-input-1" value="" required>-->
  <input id="username" type="text" name="username" class="pure-input-1" value="">
  <label for="password">Password</label>
  <!--<input id="password" type="password" name="password" class="pure-input-1" value="" required>-->
  <input id="password" type="password" name="password" class="pure-input-1" value="">
  <label for="password">Email</label>
  <!--<input id="email" type="email" name="email" class="pure-input-1" value="" required>-->
  <input id="email" type="email" name="email" class="pure-input-1" value="">
  <button type="submit" class="pure-button pure-button-primary pure-input-1">Guardar</button>
</form>
<% include footer %>