{% extends 'layout.html' %} 
{% block content %}
<form class="pure-form pure-form-stacked" action="/" method="post">
  <label for="username">Nombre de usuario</label>
  <input id="username" type="text" name="username" class="pure-input-1" disabled value="{{session.user.username}}">
  <a href="/cambiar-contrasena" class="pure-button pure-input-1">Cambiar contraseña</a>
  <label for="password">Email</label>
  <input id="email" type="email" name="email" class="pure-input-1" disabled value="{{session.user.email}}">
  <button type="submit" class="pure-button pure-button-primary pure-input-1">Guardar</button>
</form>
{% endblock %}